In [1]:
# Import Dependencies
import pandas as pd
import os

In [7]:
# Make a reference to the books.csv file path
file_name=os.path.join("Resources","books.csv")
# Import the books.csv file as a DataFrame with utf-8 encoding.
file_df=pd.read_csv(file_name,encoding="utf-8")
file_df.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780000e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780000e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780000e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780000e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780000e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [9]:
#  Get the data types of each column.
file_df.dtypes

id                             int64
book_id                        int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [14]:
# Get a list of all columns within the DataFrame
column_list=file_df.columns

In [51]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
# Only keep: "isbn", "original_publication_year", "original_title", "authors",
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"
keep_columns=["isbn", "original_publication_year", "original_title", "authors","ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"]
drop_columns=[]
for df_columns in column_list:
    #print(f"All column names is {df_columns}")
    if df_columns not in keep_columns:
        #print(f"Drop column names is {df_columns}")
        drop_columns.append(df_columns)#drop_columns
#print(drop_columns)
file_df2 = file_df.drop(columns=drop_columns)
file_df2.head()
#file_df.head()

,isbn,authors,original_publication_year,original_title,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,439023483,Suzanne Collins,2008.0,The Hunger Games,66715,127936,560092,1481305,2706317
1,439554934,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,75504,101676,455024,1156318,3011543
2,316015849,Stephenie Meyer,2005.0,Twilight,456191,436802,793319,875073,1355439
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,60427,117415,446835,1001952,1714267
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,86236,197621,606158,936012,947718

In [59]:
# Rename the headers to be more explanatory
file_df2.rename(columns={"isbn":"ISBN","authors":"Author Name","original_publication_year":"Original Publication Year","original_title":"Original Title","ratings_1":"Ratings 1","ratings_2":"Ratings 2","ratings_3":"Ratings 3","ratings_4":"Ratings 4","ratings_5":"Ratings 5"})

,ISBN,Author Name,Original Publication Year,Original Title,Ratings 1,Ratings 2,Ratings 3,Ratings 4,Ratings 5
0,439023483,Suzanne Collins,2008.0,The Hunger Games,66715,127936,560092,1481305,2706317
1,439554934,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,75504,101676,455024,1156318,3011543
2,316015849,Stephenie Meyer,2005.0,Twilight,456191,436802,793319,875073,1355439
3,61120081,Harper Lee,1960.0,To Kill a Mockingbird,60427,117415,446835,1001952,1714267
4,743273567,F. Scott Fitzgerald,1925.0,The Great Gatsby,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...
9995,441019455,Ilona Andrews,2010.0,Bayou Moon,105,575,3538,7860,6778
9996,067973371X,Robert A. Caro,1990.0,Means of Ascent,303,551,1737,3389,6972
9997,039330762X,Patrick O'Brian,1977.0,The Mauritius Command,11,111,1191,4240,5180
9998,61711527,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,275,1002,3765,4577,2375
9999,375700455,John Keegan,1998.0,The First World War,117,345,2031,4138,3069